div.title > div {
  position: absolute;
  top: 45%;
  background-color: #04d5b3;
  width: 37%;
  height: 50%;
  z-index: -1;
}

div.title > p {
  color: black;
  font-size: 48px;
  letter-spacing: 0.075em;
}

div.notebook-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 2px solid black;
  margin-top: 24px;
  padding: 6px 24px;
}

div.notebook-list-item > div:first-child > img {
  width: 48px;
  margin-right: 24px;
}

div.notebook-list-item > div:last-child > a > img {
  width: 32px;
  margin-right: 12px;
}
