a {
  color: black;
  text-decoration: none;
}

a.button {
  border-radius: 28px;
  padding: 8px 40px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

span.logo-text {
  padding-left: 10px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

span.button-text {
  font-size: 32px;
  padding: 10px 20px;
}