.App {
  text-align: center;
  padding: 24px 64px;
}

.bg-pink {
  background-color: #FD2D93;
}

.bg-green {
  background-color: #04D5B3;
}

@media (min-width: 1600px) {
  .App {
    width: 90%;
  }
}
